table{
    width: 90%;
    margin: auto;
    
}
.btn{
background-color: rgb(17, 6, 114);
color: aliceblue;
}
.btn:hover{
    background-color: rgb(5, 91, 15);
    }
.submit-button {
    background-color: #0f054f; /* Blue color */
    color: #e9f2ea; /* Text color: white */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    align: center;
    margin-top: 70px;
    margin-left: 100px;
    }
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60vh;
        margin: auto; /* This sets the container to occupy the full viewport height */
      }
      .page-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 700%;
        background-color: #f5f3f6; /* Optional: Set a background color for the entire page */
      }
      
      .box-container {
        font-size: 20px;
        color: #09080f;
        padding: 120px;
        height: 1000%;
        background-color: #f9f8fa;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a box shadow to the container */
        border-radius: 8px; /* Optional: Add rounded corners to the container */
      }